<div class="small-container">
  <div class="well">
    <%= image_tag 'it-works.png', alt: 'It works!', style: 'border-radius: 2px;' %>
    <p>
      You can get started quickly by adding <a href="https://githug.com/buren/poller">poller.js</a>. See below for details.
    </p>
    <p>
      <strong>Note:</strong> You can of course implement your own :)
    </p>
  </div>

  <%= link_to 'Example poll', show_poll_path %>
  <hr>
  <br><br><br>
  <div class="markdown-body">
    <%= render 'pages/poller_readme' %>
  </div>
</div>
