<% content_for :header do %>
  <style type="text/css">
    .container {
      max-width: 960px;
      margin: 0 auto;
    }
    .col {
      display: inline-block;
    }
    .first-col {
      width: 30%;
      float: left;
    }
    .second-col {
      width: 70%;
      float: right;
    }

    .btn {
      display: block;
      background-color: #fff;
      border: 1px solid #ccc;

      border-radius: 4px;
      font-family: Arial;
      color: #101010;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }

    .btn:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
      text-decoration: none;
    }

    .btn.btn-primary {
      color: #fff;
      background-color: #337ab7;
      border-color: #2e6da4;
    }

    .btn.btn-primary:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
    }

    .btn.btn-danger {
      color: #fff;
      background-color: #d9534f;
      border-color: #d43f3a;
    }

    .btn.btn-danger:hover {
      background-color: #c9302c;
      border-color: #ac2925;
    }

    p {
      margin: 5px 0;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
  <script src="https://www.google.com/jsapi"></script>
<% end %>

<br><br>
<div class="container">
  <div class="col first-col">
    <h3>Question: <span id="question"></span></h3>
    <p>
      <a href="#" class="btn btn-primary" onclick="submitAnswer(this)" data-value="Love it">Love it</a>
    </p>
    <p>
      <a href="#" class="btn btn-danger" onclick="submitAnswer(this)" data-value="Hate it">Hate it</a>
    </p>
    <p>
      <a href="#" class="btn" onclick="submitAnswer(this)" data-value="Indifferent">Indifferent</a>
    </p>
  </div>
  <div class="col second-col">
    <h3>&nbsp;</h3>
    <div id="chart"></div>
  </div>
</div>

<%= render 'polls/chartkick' %>

<script type="text/javascript">
  function parseParam(val) {
    var result = null,
        tmp = [];
    location.search
    //.replace ( "?", "" )
    // this is better, there might be a question mark inside
    .substr(1)
        .split("&")
        .forEach(function (item) {
        tmp = item.split("=");
        if (tmp[0] === val) result = decodeURIComponent(tmp[1]);
    });
    return result;
  }

  var max = 10000000;
  var min = 0;
  QUESTION = parseParam('question') || Math.floor(Math.random() * (max - min + 1)) + min;

  $('#question').html(QUESTION);

  function getResult() {
    var url = '/result';
    $.getJSON(url, {question: QUESTION}, function(result) {
      new Chartkick.ColumnChart('chart', result);
      setInterval(function() {
        Chartkick.updateChart('chart');
      }, 2000);
    });
  }

  function submitAnswer(element) {
    var $el = $(element);
    var value = $el.attr('data-value');
    var url = '/poll';
    $.getJSON(url, {question: QUESTION, value: value}, function(response) {
      console.log('Answer.');
      getResult();
    });
  }

  getResult();
</script>
