/*
 = require github-markdown
*/

body {
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}

.small-container {
  max-width: 680px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.btn.btn-default {
    background-color: #fff;
    border: 1px solid #9C9C9C;
}
